---
import {getPosts} from '@/utils'
import Thumbnail from "./Thumbnail.astro";
const posts = await getPosts(5)
console.log(posts)
---
<h1 class="text-2xl">Recent Posts</h1>
<div class="flex-row flex items-start gap-5">
    {
        posts.map(post => {
            return (
                    <Thumbnail title={post.data.title} slug={post.slug} description={post.data.description}
                               heroImage={post.data.heroImage} pubDate={post.data.pubDate}
                    />
            )
        })
    }
</div>